<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ChatCity - Connexion{% endblock %}</title>
    
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('login') }}
    </head>
    <body class="text-center">
        <main class="form-signin">
            <form method="post">
                <h1 class="h3 mb-3 fw-normal">
                    <i class="bi bi-chat-dots"></i>
                    ChatCity - Connexion
                </h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# Username #}
                <div class="form-floating">
                    <input type="text" value="{{ last_username }}" class="form-control" name="username" id="inputUsername" placeholder="Identifiant">
                    <label for="inputUsername">Identifiant</label>
                </div>

                {# Password #}
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe">
                    <label for="inputPassword">Mot de passe</label>
                </div>

                {# CSRF Token #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
            </form>

            <a href="{{ path('user-registration') }}">M'inscrire</a>
        </main>
    </body>
</html>