#header {
    background-color: #212529;
    color: #ffffff;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #menu-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        #menu {
            a {
                text-decoration: none;
            }
        }
    }
}

#main {
    height: 94%;
}