#conversations {
    .conversation {
        &:hover {
            cursor: pointer;
        }

        .last-message-date {
            font-size: 85%;
        }
    }
}

#messages {
    height: 90%;

    .message-creation-date {
        font-size: 85%;
    }
}

#new-message-form {
    height: 10%;

    &> div {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        #new-message-input {
            flex-grow: 7;
        }

        #new-message-send {
            flex-grow: 1;
        }
    }
}