<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ChatCity</title>
        <meta name="description" content="Description">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid vh-100">
            <div class="row vh-100">
                <!-- Header -->
                <div id="header" class="col-12">
                    <div id="menu-bar">
                        <div class="fs-3">
                            <i class="bi bi-chat-dots"></i>&nbsp;ChatCity
                        </div>
                        <div id="menu" class="ms-5">
                            <div>
                                <a href="{{ path('user-index') }}" class="link-light fs-5 me-3">
                                    <i class="bi bi-house-fill"></i>
                                    Accueil
                                </a>
                                <a href="{{ path('user-profile', { 'user': app.user.id }) }}" class="link-light fs-5">
                                    <i class="bi bi-person-fill"></i>
                                    Mon profil
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="{{ path('app_logout') }}" class="link-light">
                            Déconnexion
                        </a>
                    </div>
                </div>
                <!-- Main -->
                <div id="main" class="col-12">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
