<div id="conversation-{{ conversation['conversationId'] }}" data-id="{{ conversation['conversationId'] }}" class="border-bottom {% if loop is defined and loop.first %}bg-secondary bg-opacity-25{% endif %} p-2 conversation">
    <span class="fw-bold">{{ conversation['username'] }}</span>
    <span class="text-success d-none"><i class="bi bi-chat-dots-fill"></i></span>
        <span class="text-secondary fw-light float-end last-message-date">
            {% if conversation['lastMessageCreationDate'] != null %}
                {{ conversation['lastMessageCreationDate'] | date('d/m/Y H:i:s', 'Europe/Paris') }}
            {% endif %}
        </span>
    <br>
    <span class="last-message-content">
        {% if conversation['lastMessageContent'] != null %}
            {% if conversation['lastMessageContent']  | length > 60 %}
                {{ conversation['lastMessageContent']  | slice(0, 60) }} ...
            {% else %}
                {{ conversation['lastMessageContent']  }}
            {% endif %}
        {% else %}
            Aucun message
        {% endif %}
    </span>
</div>