{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('conversations') }}
{% endblock %}

{% block main %}
    <div class="row h-100">
        <div id="conversations" class="col-2 h-100 overflow-auto pt-2 pb-2 border-end">
            <h3>
                Mes conversations
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-conversation-modal">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </h3>
            {% for conversation in conversations %}
                {% include 'user/conversation.html.twig' %}
            {% else %}
                <div id="no-conversation-message">Aucune conversation</div>
            {% endfor %}
        </div>
        <div class="col-10 h-100 pt-2">
            <div class="row h-100">
                <div id="messages" class="col-12 overflow-auto pb-3">
                    <h3>Messages</h3>
                    {% set currentUserId = app.user.id %}
                    {% for message in messages %}
                        {% include 'user/message.html.twig' %}
                    {% else %}
                        Aucun message
                    {% endfor %}
                </div>
                <div id="new-message-form" class="col-12 border-top">
                    <div>
                        <div id="new-message-input" class="ps-2 pe-2">
                            <input type="text" class="form-control">
                            <input type="hidden" value="{{ conversationId }}">
                        </div>
                        <div id="new-message-send" class="ps-2 pe-2">
                            <button id="send" class="btn btn-primary w-75">Envoyer</button>
                            <button id="view-profile" data-user-id="{{ userId }}" class="btn btn-secondary">
                                <i class="bi bi-person-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create conversation modal -->
    <div class="modal fade" id="create-conversation-modal" tabindex="-1" aria-labelledby="create-conversation-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-conversation-modal-label">Ajouter une conversation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="search-user" placeholder="Rechercher un utilisateur">
                    <div class="alert alert-success mt-3 d-none"></div>
                    <div class="alert alert-danger mt-3 d-none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add-conversation" class="btn btn-success btn-sm">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <!--User informations modal -->
    <div class="modal fade" id="user-profile-modal" tabindex="-1" aria-labelledby="user-profile-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-profile-modal-label"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ps-4 pe-4"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('conversations') }}
    {{ encore_entry_script_tags('new-conversation') }}
    {{ encore_entry_script_tags('send-message') }}
    {{ encore_entry_script_tags('receive-message') }}
    {{ encore_entry_script_tags('user-profile') }}
    <script type="application/json" id="receive-message-mercure-url">
        {{ mercure('new-message/' ~ app.user.id) | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script type="application/json" id="new-conversation-mercure-url">
        {{ mercure('new-conversation/' ~ app.user.id) | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script type="application/json" id="mercure-token">
        {{ token | json_encode(constant('JSON_UNESCAPED_SLASHES')) | raw }}
    </script>
{% endblock %}