{% set messageClass = 'bg-secondary bg-opacity-25' %}
{% set username = 'Moi'  %}
{% if (fromMe is defined and fromMe == true) or message.author.id != currentUserId %}
    {% set messageClass = '' %}
    {% set username = message.author.username  %}
{% endif %}

<div class="p-2 {{ messageClass }}">
    <div>
        <span class="fw-bold">{{ username }}:</span>
        <span class="float-end fw-light message-creation-date">
            {{ message.createdAt | date('d/m/Y H:i:s', 'Europe/Paris') }}
        </span>
    </div>
    <div>
        {{ message.content }}
    </div>
</div>