{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        div.invalid-feedback.d-block {
            background-color: #f8d7da;
            border-color: #f5c2c7;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border-radius: .25rem;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container">

        <div class="row mt-3">
            <div class="col-12 ps-0">
                <h3>Mon mot de passe</h3>
            </div>
            <hr>
        </div>

        <div class="row mt-2">
            {{ form_start(changePasswordForm) }}

                {{ form_errors(changePasswordForm) }}

                {{ form_row(changePasswordForm.current_password) }}

                {{ form_row(changePasswordForm.new_password) }}

                <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
                <a href="{{ path('user-profile', { 'user': userId }) }}" class="btn btn-sm btn-danger">Retour</a>

            {{ form_end(changePasswordForm) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}