{# Username#}
<div class="row mt-2 bg-secondary bg-opacity-25 pt-2 pb-2">
    <div class="col-2 fw-bold">Identifiant</div>
    <div class="col-10">{{ user.username }}</div>
</div>
{# Lastname#}
<div class="row pt-2 pb-2">
    <div class="col-2 fw-bold">Nom</div>
    <div class="col-10">{{ user.lastname }}</div>
</div>
{# Firstname#}
<div class="row pt-2 pb-2 bg-secondary bg-opacity-25">
    <div class="col-2 fw-bold">Prénom</div>
    <div class="col-10">{{ user.firstname }}</div>
</div>
{# Birthday#}
<div class="row pt-2 pb-2">
    <div class="col-2 fw-bold">Date de naissance</div>
    <div class="col-10">
        {% if user.birthday != null %}
            {{ user.birthday | date('d/m/Y', 'Europe/Paris') }}
        {% endif %}
    </div>
</div>
{# Gender#}
<div class="row pt-2 pb-2 bg-secondary bg-opacity-25">
    <div class="col-2 fw-bold">Genre</div>
    <div class="col-10">{{ user.gender }}</div>
</div>
{# Place#}
<div class="row pt-2 pb-2">
    <div class="col-2 fw-bold">Lieu</div>
    <div class="col-10">{{ user.place }}</div>
</div>
{# Informations#}
<div class="row pt-2 pb-2 bg-secondary bg-opacity-25">
    <div class="col-2 fw-bold">Informations</div>
    <div class="col-10">{{ user.informations | nl2br }}</div>
</div>