{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 ps-0">
                <h3>Mon profil</h3>
            </div>
            <hr>
        </div>

        <div class="row mt-2">

            {{ form_start(userForm) }}

                <div class="row">
                    <div class="col-6">{{ form_row(userForm.firstname) }}</div>
                    <div class="col-6">{{ form_row(userForm.lastname) }}</div>
                </div>

                <div class="row">
                    <div class="col-6">{{ form_row(userForm.email) }}</div>
                    <div class="col-6">{{ form_row(userForm.place) }}</div>
                </div>

                <div class="row">
                    <div class="col-6">{{ form_row(userForm.birthday) }}</div>
                    <div class="col-6">{{ form_row(userForm.gender) }}</div>
                </div>

                <div class="row">
                    <div class="col-12">{{ form_row(userForm.informations) }}</div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
                        <a href="{{ path('user-profile', { 'user': userId }) }}" class="btn btn-sm btn-danger">Retour</a>
                    </div>
                </div>

            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}