{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container">

        <div class="row mt-3">
            <div class="col-12 ps-0">
                <h3>Mon profil</h3>
            </div>
            <hr>
        </div>

        {% for message in app.flashes('notice') %}
            <div class="row mt-3">
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% include 'user/profile-informations.html.twig' %}

        <div class="row mt-3 mb-3">
            <div class="col-12 ps-0">
                <a href="{{ path('user-profile-edit') }}" class="btn btn-sm btn-primary">
                    Editer
                </a>
                <a href="{{ path('user-password-edit') }}" class="btn btn-sm btn-dark">
                    Mot de passe
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}