<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('login') }}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="offset-3 col-6 text-center">
                    <h1>
                        <i class="bi bi-chat-dots"></i>
                        ChatCity
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-6 text-center">
                    <h2>Créer mon compte</h2>
                </div>

                {% for message in app.flashes('notice') %}
                    <div class="offset-3 col-6">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                <div class="offset-3 col-6">

                    {{ form_start(form) }}

                        <div class="row">
                            <div class="col-xl-12">
                                {{ form_row(form.username) }}
                            </div>
                        </div>

                        {# Email #}
                        <div class="row">
                            <div class="col-xl-12">
                                {{ form_row(form.email) }}
                            </div>
                        </div>

                        {# Firstname #}
                        <div class="row">
                            <div class="col-xl-12">
                                {{ form_row(form.firstname) }}
                            </div>
                        </div>

                        {# Lastname #}
                        <div class="row">
                            <div class="col-xl-12">
                                {{ form_row(form.lastname) }}
                            </div>
                        </div>

                        {# Submit #}
                        <div class="row">
                            <div class="col-xl-12">
                                <button type="submit" class="btn btn-sm btn-success">Créer mon compte</button>
                                <a href="{{ path('user-index') }}" class="btn btn-sm btn-secondary">Retour</a>
                            </div>
                        </div>

                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </body>
</html>