<h3>Votre compte ChatCity</h3>
<div>
    Bienvenue {{ firstname }} {{ lastname }}
</div>
<div>
    <b>Votre identifiant :</b> {{ userIdentifier }}
</div>
<div>
    <b>Mot de passe :</b> {{ password }}
</div>